.footer{
    margin-top: 56px;
    
    .container{
        display: flex;
        justify-content: space-between;
        gap: 48px;
        @media (max-width: 768px) {
            flex-direction: column;
        }
        .app-section{
            display: grid;
            gap: 16px;
            
            
            h3{
                color: #5d3abc;
                font-weight: 400;
                
            }
        }

        .footer-section{
            .ReactCollapse--collapse{
                transition: height 500ms;
                
            }
            nav{
                display: flex;
                flex-direction: column;
                gap: 16px;
                
                a{
                    color: #191919;
                }  
            }
                
            
            h3{
                color: #5d3abc;
                font-weight: 400;
                font-size: 18px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                button{
                    display: none;
                    width: 20px;
                    height: 20px;
                    background: transparent;
                    @media(max-width: 768px){
                        display: block;
                    }
                }
                }
        }
       .ebis{
        width: 72px;
        height: 94px;
    }
    
    }
    .line{
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-top: 1px solid #ddd;
        margin-top: 24px;
        padding-top: 24px;
        @media (max-width: 768px){
           flex-direction: column;
           
        }
        .ff{
            display: flex;
            align-items: center;
            @media (max-width: 768px){
                flex-direction: column;
             }
            a{
                margin-left: 10px;
            }
            
        }
        .bottom-right{
               display: flex;
               align-items: center;
               gap: 10px;
               @media (max-width: 768px){
                flex-direction: column;
             }
             .social-footer{
                @media (max-width: 768px){
                    display: flex;

                 }
             }
                a{
                    width: 32px;
                    height: 32px;
                    color: #aaa;
                    padding: 5px;
                    background-color: #fff;
                    border-radius: 10px;
                    &:hover{
                        background: #ddd;
                        color: #5d3abc;
                        
                    }
                }
                .change{
                    display: flex;
                    align-items: center;
                    border: 1px solid #ddd;
                    color: #aaa;
                    padding: 5px;
                    &:hover{
                        color: #5d3abc;
                        background: #ddd;
                    }
                }
            }
    }
}

