.header{
    background-color: #5d3ebc;
    height: 45px;
    .navbar{
        display: flex;
        align-items: center;
        justify-content: space-between;
        img{
            width: 35px;
            height: 16px;
        }
        .brand{
            padding: 12px 20px;
            background-color: rgba(#7849f7,.3);
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }
    }

    nav{
        display: flex;
        gap: 20px;
        a{
            display: flex;
            align-items: center;
            gap: 10px;
            color: rgba(#fff, .8);
            @media (max-width: 1024px) {
                text-indent: -9999px;
            }
            
        }
    }
}